*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif; 
}

.container{
    width: 1366px;
    margin: 0 auto;
    
}

.slider{
    height: 800px;
    background-image: url(img/slider.jpg)
}

.menu-list{
    list-style-type: none;
}

.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.menu-link-active{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
}

.slider-tranding{
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-content{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.button{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
}

.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%
}

.circle-active{
    width: 40px;
    height: 40px;
    background-color: #212121;
}