*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1366px;
    margin: 0 auto;
    
}

.slider{
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;
}

.menu-list{
    list-style-type: none;
    float: left;
}

.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 13px;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    text-decoration: none;
}

.slider-tranding{
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2{
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider-text{
    margin-top: 283px;
}

.slider-content{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
}

.pagination{
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active{
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.padding-site{
    padding-left: 98px;
    padding-right:  98px;
}

.menu{
    float: right;
}

.header{
    padding-top: 63px;
}
.header-2{
    margin-top: 138px;
}

.choice{
    border-bottom: 1px solid #6c6c6c;
    width: 350px;
    padding-bottom: 19px;
    
}
.menu-link-2{
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 21px;
}


.menu-link-2:first-child{
    margin-right: 31px;
    margin-left: 9px;
}

.menu-link-2:hover{
    color: #212121;
    border-bottom: 3px solid #212121;
    padding-bottom: 18px;
}
.menu-link-3{
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    margin-top: 16px;
}

.product-list{
    margin-top: 50px;
}

.product{
    margin-right: 30px;
}

.product:last-child{
    margin-right: 0;
}